adafruit-circuitpython-lsm9ds1
adafruit-circuitpython-mpu6050
git+https://github.com/DVC-Viking-Robotics/Drivetrain.git
git+https://github.com/DVC-Viking-Robotics/GPS_Serial.git
circuitpython-nrf24l01==1.1.0
opencv-python
pyserial==3.4
Flask==1.0.2
Flask-Login==0.4.1
Flask-SocketIO==3.3.2
eventlet==0.31.0
