{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<p>This webapp is supported through the <a href="https://github.com/2bndy5/lirc-UI/issues">issues section of its github repo</a>.</p>
</br>
<p>This webapp is meant extend the very mature and community supported LIRC software that is available on all Raspberry Pi computers to the common user via any web browser connected to the same network as the LIRC-enabled Raspberry Pi. To enable your Raspberry Pi for IR capability, you must add an IR LED via a NPN transistor to the pin(s) specified in etc/boot.txt file</p>

{% endblock %}
